:root {
  --ach-padding: 3%;
  --ach-gap: 10%;
  --ach-border-radius: 10px;
  --ach-aspect-ratio: 22/15;
  --ach-bg-color: rgb(253, 247, 255);
  --ach-box-shadow: 0 0 5px rgba(28, 47, 53, 0.836);
  --ach-width-max: 600px;
  --ach-width-min: 40vw;
  --ach-width-clamp: calc(min(var(--ach-width-max), var(--ach-width-min)));
  --ach-position-left: clamp(30px, 20vw, 600px);
  --ach-position-right: clamp(30px, 20vw, 600px);
}

.Cirtificate {
  transition: transform 0.3s;
  aspect-ratio: var(--ach-aspect-ratio);
  max-width: var(--ach-width-max);
}

.img {
  max-width: var(--ach-width-max);
  box-shadow: var(--ach-box-shadow);
}

.bg-2 {
  background-color: var(--ach-bg-color);
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .Cirtificate {
    margin: 4% 0;
  }
}

@media screen and (max-width: 700px) {
  .cf-2 {
    flex-direction: column !important;
  }
}
