/* Global Styles */
* {
  box-sizing: border-box;
  font-family: var(--font-family);
  /* hyphens: auto; */
}

:root {
  /* Border Colors */
  --bdr-clr: rgb(47, 49, 49);
  --bdr-b: 1px solid rgb(147, 149, 149);
  --bdr: 2px solid red;
  --u-bdr: 1px solid rgb(159, 158, 158);

  /* Main Colors */
  --mn-clr: #050506;
  --mn-l-clr: #01000c;
  --mn-ll-clr: #0c0c0e;
  --pr-clr: rgb(0, 218, 218);
  --bl-clr: rgb(0, 0, 0);
  --wh-clr: rgb(255, 255, 255);
  --t-clr1: rgb(223, 216, 216);
  --t-clr2: rgb(20, 20, 20);
  --fr-clr: #090994;

  /* UI Colors */
  --hdr-clr: #021543;
  --u-code-bg: #d7dbdc;
  --u-whclr: #ccc;
  --u-blclr: #333;
  --u-bxshdw: 8px 8px 0px #c1c4ce;

  /* Theme Colors */
  --primary-color: #0ebeeb;
  --secondary-color: #2ecc71;
  --background-color: #f7f7f7;
  --header-bg: #ffffff;
  --header-text: #333;
  --text-color: #555;
  --accent-color: #ed930b;
  --code-bg: #272822;
  --code-text: #f8f8f2;
  --terminal-bg: #333;
  --terminal-text: #fff;
  --card-bg: #ffffff;
  --footer-bg: #3498db;
  --footer-text: #fff;
  --allright-bg: #222;
  --allright-text: #aaa;
  --font-family: "Arial", sans-serif;

  /* Font Sizes */
  --vr-f: clamp(2px, 3vw, 1rem);
  --vr-fp: clamp(10px, 3.9vw, 1rem);
  --border-color: rgba(120, 75, 179, 0.989);
  --background-gradient-1: linear-gradient(
    to top,
    rgb(206, 206, 240) 30%,
    rgb(226, 224, 232)
  );
  --background-gradient-2: linear-gradient(
    to top,
    rgb(196, 196, 244) 30%,
    rgb(217, 207, 245)
  );
  --shadow: 0 0 5px rgba(28, 47, 53, 0.836);
  --background-gradient-3: repeating-linear-gradient(
    180deg,
    #f1eaf4b8,
    rgb(251, 234, 255),
    rgb(250, 240, 252)
  );
  --background-gradient-4: linear-gradient(
    30deg,
    rgb(245, 245, 245),
    rgb(243, 243, 243)
  );
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
}

.parent {
  position: absolute;
}

.background {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}

.btn-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) !important;
}

.i {
  height: 200px;
  object-fit: cover;
}

.m-card-title {
  margin: 8px 0;
  font-size: var(--vr-f);
  z-index: 5;
}

.m-card-description {
  margin-top: 30px;
  font-size: var(--vr-f);
  z-index: 5;
}

.ftr {
  background: var(--background-gradient-4);
}

.introduction .name {
  color: var(--primary-color);
}
.introduction hr {
  border: 1px solid var(--primary-color);
}
.introduction .h2-type {
  color: var(--accent-color);
}

/* Root Variables */
:root {
  --border-thick: 2px solid red;
  --blur-intensity: 10px;

  --cube-rotation-x: 50deg;
  --cube-rotation-y: 46deg;

  --primary-gradient: repeating-linear-gradient(
    90deg,
    #c6a2f1,
    #fddbae,
    #edaea3
  );
  --secondary-gradient: repeating-linear-gradient(
    150deg,
    #862bf6,
    #e176ff,
    #fcc7a5
  );
  --tertiary-gradient: repeating-linear-gradient(
    220deg,
    #ba89f6,
    #ffaaaa,
    #fad7b1
  );
  --highlight-gradient: repeating-radial-gradient(
    rgb(133, 8, 223),
    #7a08ddf2,
    #9000fff2
  );

  --shadow-main: 0px 0px 300px #cc08ea;
  --shadow-secondary: 0px 0px 1000px rgb(137, 0, 249);
  --shadow-small: 0px 0px 30px #6306b490;

  --circle-size: clamp(100px, 50vw, 700px);
  --small-circle-size: 40px;
  --medium-circle-size: 80px;
  --large-circle-size: 240px;
}

/* Background */
.pfbg {
  position: absolute;
  backdrop-filter: blur(var(--blur-intensity));
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 1;
  background: transparent;
}

/* Cube */
.cube {
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateY(var(--cube-rotation-x)) rotate(var(--cube-rotation-y));
  z-index: 4;
  display: none;
}

.face {
  position: absolute;
}

.front {
  background: var(--primary-gradient);
}
.back {
  background: rgb(69, 71, 69);
}
.left {
  background: var(--secondary-gradient);
}
.right {
  background: rgba(4, 0, 255, 1);
}
.top {
  background: var(--tertiary-gradient);
}
.bottom {
  background: repeating-linear-gradient(220deg, #5712ab, #5031d8, #250f7a);
}

.rtcr {
  position: absolute;
  width: clamp(100px, 40vw, 300px);
  height: clamp(100px, 40vw, 300px);
  border-radius: 50%;
  right: -80px;
  top: -80px;
  background: repeating-linear-gradient(220deg, rgb(234, 139, 6), #8e0dfff1);
  z-index: 3;
  backdrop-filter: blur(4px);
  box-shadow: var(--shadow-small);
  /* display: none; */
}

.ssCr {
  position: absolute;
  width: var(--small-circle-size);
  height: var(--small-circle-size);
  border-radius: 50%;
  left: clamp(70px, 10vw, 600px);
  top: clamp(70px, 30vw, 600px);
  background: repeating-linear-gradient(80deg, rgb(212, 157, 18), #9b2efb80);
  backdrop-filter: blur(4px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.sCr {
  position: absolute;
  width: var(--medium-circle-size);
  height: var(--medium-circle-size);
  border-radius: 50%;
  left: clamp(70px, 40vw, 600px);
  top: clamp(20px, 5vw, 300px);
  background: repeating-linear-gradient(
    200deg,
    rgb(234, 169, 6),
    #b67fe7dd,
    #8410e9dd
  );
  z-index: 3;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top: 6px solid #c705d1;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
