* {
  /* border: 2px solsid red; */
  /* margin: 2px; */
  box-sizing: border-box;
  font-family: sans-serif;
  hyphens: auto;
}

:root {
  --bdr-clr: rgb(47, 49, 49);
  --bdr-b: 1px solid rgb(147, 149, 149);
  --bdr: 2px solid red;
  --mn-clr: #050506;
  --mn-l-clr: #01000c;
  --mn-ll-clr: #0c0c0e;
  --pr-clr: rgb(19, 222, 222);
  --bl-clr: rgb(0, 0, 0);
  --wh-clr: rgb(169, 167, 167);
  --t-clr1: rgb(108, 108, 108);
  --t-clr2: rgb(20, 20, 20);
  --vr-f: clamp(2px, 3vw, 1rem);
  --pr-clr: rgb(0, 218, 218);
  --bl-clr: rgb(0, 0, 0);
  --code-clr: #101010;
  --vr-fp: clamp(10px, 3.9vw, 1rem);
  --bl-clr: rgb(0, 0, 0);
  --wh-clr: rgb(255, 255, 255);
  --t-clr1: rgb(203, 197, 197);
  --t-clr2: rgb(20, 20, 20);
  --fr-clr: #2b2b9d;
}

:root {
  --hdr-clr: #0c2766;
  --u-bdr: 1px solid rgb(159, 158, 158);
  --u-code-bg: #d7dbdc;
  --u-whclr: #ccc;
  --u-blclr: #333;
  --u-bxshdw: 8px 8px 0px #c1c4ce;
}

:root {
  --primary-color: #0ebeeb;
  --secondary-color: #2ecc71;
  --background-color: #f7f7f7;
  --header-bg: #ffffff;
  --header-text: #333;
  --text-color: #555;
  --accent-color: #d94722;
  --code-bg: #272822;
  --code-text: #f8f8f2;
  --terminal-bg: #333;
  --terminal-text: #fff;
  --card-bg: #ffffff;
  --footer-bg: #3498db;
  --footer-text: #fff;
  --allright-bg: #222;
  --allright-text: #aaa;
  --font-family: "Arial", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.parent {
  position: absolute;
}

.background {
  box-sizing: border-box;
  /* border: 2px solid red; */
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}

.p {
  display: flex;
  /* border: 3px solid red; */
  background: var(--mn-clr);
  position: relative;
  overflow: hidden;
  flex-flow: column nowrap;
}

.header-item {
  font-family: sans-serif, Arial;
  font-size: var(--vr-f);
}

.name {
  font-family: math;
  margin-left: -2px;
  font-size: clamp(10px, 4vw, 4.4rem);
}

.h2-type {
  font-size: clamp(9px, calc(4px + 1.42vw), 1.4rem);
  font-weight: 700;
}

.hr {
  /* border: var(--bdr); */
  z-index: 6;
  height: clamp(12px, 12vw, 60px);
  display: flex;
  gap: clamp(2px, 4vw, 40px);
  align-items: center;
  padding: 0 10px;
  flex-grow: 1;
  color: var(--t-clr2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  color: var(--t-clr1);
  background-color: var(--hdr-clr);
  /* background: url(https://i.pinimg.com/originals/83/be/32/83be325e2d434d410339a95622877f70.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#nm {
  font-size: clamp(4px, 4vw, 2.4rem);
  font-weight: 900;
  background: repeating-linear-gradient(
    180deg,
    hsl(240, 14%, 95%) 0%,
    #f36513 100%
  );
  color: transparent;
  background-clip: text;
  font-family: math;
}

.m {
  margin-top: clamp(12px, 12vw, 60px);
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  /* background: rgb(203, 214, 216); */
  color: var(--u-blclr);
  background: linear-gradient(
    to top,
    rgb(214, 214, 243) 30%,
    rgb(230, 228, 235)
  );
  padding-bottom: 50px;
  background-color: var(--hdr-clr);
  background: url(https://i.pinimg.com/originals/83/be/32/83be325e2d434d410339a95622877f70.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.introduction {
  margin: 10px 4px 0 0;
  padding: 10px;
  flex-grow: 1;
  font-size: var(--vr-f);
  color: #efe6ee;
}

.cr {
  border-bottom: 2px solid rgba(120, 75, 179, 0.989);
  width: calc(100px + 50vw);
  height: calc(100px + 50vw);
  border-radius: 50%;
  position: absolute;
  right: calc(-30vw);
  top: calc(-20vw);
  z-index: 2;
  background: linear-gradient(
    to top,
    rgb(206, 206, 240) 30%,
    rgb(226, 224, 232)
  );
}

.photo {
  border: 1px solid rgb(137, 100, 249);
  border-radius: 50%;
  box-sizing: border-box;
  align-self: flex-end;
  z-index: 5;
  min-width: clamp(100px, calc(100px + 20vw), 300px);
  min-height: clamp(100px, calc(100px + 20vw), 300px);
  margin-right: calc(100px + 8vw);
  margin-top: calc(10px + 4vw);
  background: url("./Screenshot_2024-06-07_232653-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: clamp(100px, calc(100px + 20vw), 300px);
  position: relative;
  z-index: 3;
}

.dsr {
  height: 100vh;
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 3%;
  background: rgb(223, 223, 239);
  padding: 20px 0;
  background: linear-gradient(
    to top,
    rgb(196, 196, 244) 30%,
    rgb(217, 207, 245)
  );
}

.code-about {
  /* border: var(--bdr); */
  min-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 30px 20px 30px 0;
  font-size: clamp(2px, calc(0.878vw + 40%), 1rem);
  /* font-size: var(--vr-f); */
  box-shadow: var(--u-bxshdw);
  height: fit-content;
}

.proj-c {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #e7e6e6;
  color: var(--u-blclr);
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcCv9c9Z-i2MGzy8XYg0Gj1DJx8CiKye0fVg&s);
  background: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwMTYtYy0wOF8xLWtzaDZtemEzLmpwZw.jpg);

  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  /* background-size: 100vw 100vh; */
  /* border: 2px solid red; */
  /* height: 100vh; */
}

.m-card {
  /* border: 1px solid var(--bdr-clr); */
  border-radius: 3px;
  overflow: hidden;
  flex-grow: 1;
  /* background: linear-gradient(
    to bottom,
    rgb(224, 224, 225),
    rgb(230, 229, 229)
  ); */
  box-shadow: 0 0 5px rgba(28, 47, 53, 0.836);
  transition: transform 0.3s;
  width: clamp(200px, 90vw, 400px);
  display: flex;
  flex-direction: column;
  margin: 30px 3%;
  padding: 4px 16px;
  color: #d0d4d4;
  border: 1px solid rgba(11, 48, 169, 0.5);
}

.m-card:hover {
  transform: translateY(1px);
}

.i {
  height: 200px;
  object-fit: cover;
}

.m-card-title {
  margin: 8px 0;
  font-size: var(--vr-f);
}

.m-card-description {
  margin-top: 30px;
  font-size: var(--vr-f);
}

.ftr {
  /* border: var(--bdr); */
  padding: 40px 10px;
  background: #d3dce4;
  height: 100vh;
  background: url(https://cdn.wallpapersafari.com/99/73/Bn05h1.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed;
   */
  background: linear-gradient(
    to bottom,
    rgb(187, 242, 242) 30%,
    rgb(154, 186, 250)
  );
}

@media (max-width: 800px) {
  .name {
    font-size: clamp(24px, 8vw, 4.4rem);
  }
  .m {
    flex-direction: column-reverse;
  }

  .photo {
    width: calc(min(100px, 81vw));
    height: calc(min(100px, 81vw));
    margin: auto;
    margin-top: 30px;
  }

  .introduction {
    font-size: var(--vr-fp);
  }

  .h2-type {
    font-size: clamp(9px, calc(4px + 3.42vw), 1.4rem);
    font-weight: 700;
  }

  .dsr {
    flex-direction: column;
  }

  .code-about {
    /* border: var(--bdr);s */
    min-width: 0px;
    display: flex;
    flex-direction: column;
    margin: 30px calc(4% - 7px) 20px 4%;
    font-size: clamp(2px, 3vw, 1rem);

    /* height: fit-content; */
  }
  .introduction {
    text-align: center;
    margin-top: 40px;
    padding: 0 20px;
  }
  .introduction span {
    font-size: 1.2rem;
  }
  .introduction .name {
    display: block;
    font-size: 3rem;
    margin: 10px 0;
    font-weight: bold;
    color: var(--primary-color);
  }
  .introduction hr {
    width: 50%;
    margin: 20px auto;
    border: 1px solid var(--primary-color);
  }
  .introduction .h2-type {
    font-size: 1.5rem;
    color: var(--accent-color);
  }
  .introduction p {
    margin: 10px auto;
    max-width: 800px;
  }
}
