:root {
  --bdr-clr: rgb(145, 247, 249);
  --bdr: 2px solid red;
  /* --mn-clr: #030117; */
  --mn-clr: #030516;
  --mn-l-clr: #030025;
  --mn-ll-clr: #010524;
  --pr-clr: rgb(12, 231, 231);
  --bl-clr: rgb(0, 0, 0);
  --wh-clr: rgb(255, 255, 255);
  --t-clr1: rgb(226, 218, 218);
  --t-clr2: rgb(20, 20, 20);
  --code-clr: #171717;
  --vr-fp: clamp(10px, 3.87vw, 1rem);
}
.development-environment {
  width: clamp(100px, 92%, 900px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* height: fit-content; */
  /* border: var(--bdr); */
  margin: 30px 4%;
}

/* Code Editor Styling */
.code-editor {
  background-color: #00020b;
  background: var(--code-clr);

  flex-grow: 1;
  /* border-radius: 8px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 0px #212121;
}

.editor-header {
  background-color: #444;
  padding: 10px;
  border-bottom: 1px solid #a3a1a1;
  font-weight: bold;
  color: var(--pr-clr);
}

.code-content {
  padding: calc(min(5%, 30px)) 20px;
  color: #d4d4d4;
  line-height: 1.6;
}

.code-content code {
  font-size: var(--vr-fp);
  color: #4fb8ff; /* Syntax Highlighting */
}

/* Terminal Styling */
.terminal {
  background-color: #000;
  /* border-radius: 8px; */
  box-shadow: 8px 8px 0px #212121;
  flex-grow: 1;
}

.terminal-header {
  background-color: #444;
  padding: 10px;
  border-bottom: 1px solid #666;
  font-weight: bold;
  color: var(--pr-clr);
}

.terminal-content {
  padding: calc(min(10%, 40px)) 20px;
  font-size: var(--vr-fp);
  color: #0f0; /* Green terminal text */
  line-height: 1.6;
}

.info-c {
  /* border: var(--bdr); */
  /* height: 300px; */
  /* width: 440px; */
  display: flex;
  background: #02020d;
  box-shadow: -8px 8px 0px;
}

.numbering {
  width: 34px;
  /* border: var(--bdr); */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #080816;
  background: var(--code-clr);

  color: var(--wh-clr);
  margin-top: 2px;
  padding: 10px;
}

.codeInfo {
  background: #16141b;
  background: #01041c;
  background: var(--code-clr);

  flex: 1;
  color: var(--wh-clr);
  padding: 10px 0;
}

.three-dot {
  height: 40px;
  border-bottom: 1px solid var(--t-clr1);
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  background: #444;
  box-shadow: -8px 8px 0px;
}

.three-dot span {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  /* border: var(--bdr); */
}

.three-dot > span:nth-child(1) {
  background-color: aqua;
}

.three-dot > span:nth-child(2) {
  background-color: yellow;
}

.three-dot > span:nth-child(3) {
  background-color: green;
}

.clr-class {
  color: rgb(31, 132, 255);
  font-weight: 700;
}

.clr-class-nm {
  color: rgb(0, 225, 255);
}

.clr-inner-cls {
  color: rgb(240, 227, 35);
}

.brace {
  color: rgb(170, 5, 216);
}

.i-skils {
  color: rgb(255, 115, 0);
}

.keywords {
  color: #0051ff;
}
