.development-environment {
  width: clamp(100px, 92%, 900px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: var(--bdr); */
  margin: 30px 4%;
}

.code-editor,
.terminal {
  border: var(--u-bdr);
  background: var(--u-code-bg);
  flex-grow: 1;
  box-shadow: var(--u-bxshdw);
}

.editor-header,
.terminal-header {
  background-color: var(--u-blclr);
  padding: 10px;
  font-weight: bold;
  color: var(--u-whclr);
}

.code-content,
.terminal-content {
  padding: calc(min(5%, 30px)) 20px;
  line-height: 1.6;
  font-size: var(--vr-fp);
}

.code-content code {
  font-size: var(--vr-fp);
  color: #107dd6;
}

.info-c {
  /* border: var(--bdr); */
  display: flex;
  box-shadow: var(--u-bxshdw);
}

.numbering {
  /* width: 34px; */
  /* border: var(--bdr); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--u-code-bg);
  color: var(--u-blclr);
}

.codeInfo {
  flex: 1;
  padding: 10px 0;
  color: var(--u-blclr);
  background: var(--u-code-bg);
}

.three-dot {
  height: 40px;
  /* border-bottom: 1px solid var(--t-clr1); */
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  background-color: var(--u-blclr);
}

.three-dot span {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  /* border: var(--bdr); */
}

.three-dot > span:nth-child(1) {
  background-color: rgb(9, 241, 241);
}

.three-dot > span:nth-child(2) {
  background-color: rgb(228, 228, 8);
}

.three-dot > span:nth-child(3) {
  background-color: rgb(11, 212, 11);
}

.clr-class {
  color: rgb(48, 124, 218);
  font-weight: 700;
}

.clr-class-nm {
  color: rgb(10, 192, 216);
}

.clr-inner-cls {
  color: rgb(86, 185, 84);
}

.brace {
  color: rgb(166, 30, 203);
}

.i-skils {
  color: rgb(210, 79, 67);
}

.keywords {
  color: #0a52ed;
}

