.BgParent {
  border: 2px solid red;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertC {
  /* border: 2px solid red; */
  width: 100%;
  height: 200vh;
  position: absolute;
  right: 0;
  background: repeating-linear-gradient(
    120deg,
    rgb(80, 144, 248),
    #6a43f7,
    rgb(85, 190, 243)
  );

  background: repeating-linear-gradient(
    to bottom,
    rgb(134, 178, 245),
    #d2d5f9,
    rgba(211, 223, 251, 0.938)
  );
  /* clip-path: polygon(60% 0%, 36% 100%, 100% 100%, 100% 0%); */

  /* overflow: hidden; */
}

.ver30deg {
  /* border: 2px solid red; */
  position: absolute;
  width: 100%;
  height: 100%;
  /* height: calc(); */
  /* left: 20vw; */
  top: 30%;
  right: 0;
  /* bottom: 0; */

  background: #9df86f;
  background: repeating-linear-gradient(
    120deg,
    rgb(76, 190, 248),
    #64a4f9,
    rgb(90, 161, 242)
  );
  transform: rotateZ(20deg);

  z-index: 2;
}

.ver70deg {
  border: 2px solid red;
  position: absolute;
  width: 100%;
  height: 100%;
  /* height: calc(); */
  /* left: 20vw; */
  top: 60%;
  left: 30%;
  background: #6f71f8;
  transform: rotateZ(45deg);
  z-index: 3;
}

.BgParent {
  background: linear-gradient(90deg, #f2edf6, #c69df8);
}

.bgproject {
  position: relative;
  overflow: hidden;
}

.tr {
  width: 44vw;
  height: 44vh;
  position: absolute;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
}

.tr1 {
  bottom: 0;
  right: 0;
  background: repeating-linear-gradient(140deg, rgb(241, 39, 227) 30%, #1d33fd);
}

.tr2 {
  bottom: -8vw;
  right: -8vw;
  background: repeating-linear-gradient(
    140deg,
    rgba(245, 18, 230, 0.755) 30%,
    #1d33fd
  );
}

.tr3 {
  bottom: -15vw;
  right: -15vw;
  background: repeating-linear-gradient(0deg, rgb(246, 22, 231), #1d33fd);
}

.fsqr {
  /* border: 2px solid red; */

  width: 180px;
  height: 180px;
  bottom: 400px;
  right: 120px;
  transform: rotateZ(-45deg);
  position: absolute;
  background: repeating-linear-gradient(
    340deg,
    #9407e6a2,
    rgba(202, 3, 189, 0.492)
  );
  z-index: 2;
}

.trsqr {
  /* border: 2px solid red; */

  width: 700px;
  height: 1000px;
  bottom: 10px;
  right: -600px;
  transform: rotateZ(-45deg);
  position: absolute;
  background: repeating-linear-gradient(
    60deg,
    rgba(230, 13, 216, 0.747),
    rgba(230, 13, 216, 0.712) 30%,
    #8718efc1,
    #8801f03d
  );
  box-shadow: 0 0 40px #c135e0c2;
  filter: blur(1px);
}

.tlsqr {
  width: 1000px;
  height: 1000px;
  top: -400px;
  left: -1000px;
  transform: rotateZ(-45deg);
  position: absolute;
  background: repeating-linear-gradient(
    260deg,
    #6626fb91,
    rgba(230, 13, 216, 0.662)
  );
}

@media (max-width: 800px) {
  .ftr {
    background: linear-gradient(
      to bottom,
      rgb(251, 241, 254) 30%,
      rgb(225, 229, 237)
    );
  }

  .trsqr,
  .fsqr {
    display: none;
  }

  .projectbrCr {
    display: none;
  }
}
