form {
  border: var(--bdr);
  position: relative;
  /* margin: 10px; */
  padding: 20px 10px;
  max-width: 500px;
  border: 10px solid aqua;
  background: #030117;
  color: rgb(244, 241, 237);
  padding: 20px 30px 40px;
  border-image: conic-gradient(
    var(--pr-clr) 0%,
    var(--pr-clr) 34%,
    var(--fr-clr) 34.1%,
    var(--fr-clr) 52%,
    var(--pr-clr) 52%,
    var(--pr-clr) 61%,
    var(--fr-clr) 61.1%,
    var(--fr-clr) 76.1%,
    var(--pr-clr) 76%,
    var(--pr-clr) 100%
  );
  background-clip: border-box; /* Clip the gradient to the border */
  height: fit-content;
  margin-bottom: 20px;
  border-image-slice: 1;
  z-index: 3;
  /* box-shadow: 3px 3px 50px var(--mn-ll-clr); */
}

form::after {
  /* Left border */
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px; /* Thickness of the left border */
  background: linear-gradient(to bottom, red 50%, blue 50%);
}

.ms-top {
  height: 18px;
  /* border: var(--bdr); */
  border-radius: 10px;
  background: aqua;
  margin-bottom: 10px;
}

.ms-bar-c {
  height: 50px;
  /* border: var(--bdr); */
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 6px;
}

.ms-bar {
  border: 2px solid rgb(3, 169, 202);
  border-radius: 5px;
}

.ms-bar1 {
  width: 33px;
  margin: 0 7px;
}

.ms-bar2 {
  width: 25px;
  margin: 0 2px;
}

.ms-bar3 {
  width: 100px;
  margin-bottom: 20px;
}

.ms-what-sl {
  /* border: var(--bdr); */
  margin: 8px 0;
  font-size: 1.43rem;
  padding: 4px;
}

#emailHelp {
  color: rgb(204, 200, 200);
}
