:root {
  --bgr1: #0b0340;
  --bgr2: #12094b7f;
  --rp-msh-bg-main: repeating-linear-gradient(
      0deg,
      #0000 0px,
      #0000 40px,
      #21104e 41px,
      #21104e 42px
    ),
    repeating-linear-gradient(
      90deg,
      #0000 0px,
      #0000 40px,
      #21104e 41px,
      #21104e 42px
    ),
    linear-gradient(to right, var(--bgr1), var(--bgr2)),
    linear-gradient(to top, var(--bgr1), var(--bgr2)),
    linear-gradient(to bottom, var(--bgr1), var(--bgr2)),
    linear-gradient(to left, var(--bgr1), var(--bgr2));
}

.p {
  background: linear-gradient(180deg, #ffffff, #f2f2f2);
  /* background: var(--rp-msh-bg-main); */

  margin-top: 20px;
  flex-flow: column nowrap;
  /* border: 2px solid red; */
  height: 100dvh;
}

.header-item {
  font-family: var(--font-family);
  font-size: var(--vr-f);
}

.name {
  font-family: math;
  margin-left: -2px;
  font-size: clamp(10px, 4vw, 4.4rem);
}

.h2-type {
  font-size: clamp(9px, calc(4px + 1.42vw), 1.4rem);
  font-weight: 700;
}

.hr {
  height: clamp(12px, 12vw, 60px);
  gap: clamp(2px, 4vw, 40px);
  padding: 0 10px;
  color: var(--t-clr1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--hdr-clr);
  /* background: repeating-linear-gradient(90deg, #030110, #060017); */
  z-index: 100;
}

.hr span:hover {
  color: var(--primary-color);
  cursor: pointer;
  /* text-shadow: 0 10px 15px rgba(148, 146, 146, 0.404); */
}

#nm {
  font-size: clamp(4px, 4vw, 2.4rem);
  font-weight: 900;
  background: repeating-linear-gradient(180deg, #ffffff 0%, #ff2a00 100%);
  color: transparent;
  background-clip: text;
  font-family: math;
}

.m {
  margin-top: clamp(12px, 12vw, 60px);
  color: var(--u-blclr);
  background: transparent;
}

.introduction {
  font-size: var(--vr-f);
  color: #161616;
  z-index: 7;
}

.parent-photo {
  /* border: 2px solid red; */
  margin: calc(1vh + 1vw) calc(4px + 5vh + 2vh);
}

.ph {
  /* border: 2px solid rgba(68, 68, 68, 0.373); */
  z-index: 10;
  border-radius: 50%;
  /* background: linear-gradient(0deg, var(--bgr2), #1a088f); */
  width: clamp(100px, calc(100px + 27vw), 400px);
  height: clamp(100px, calc(100px + 27vw), 400px);
  align-items: center;
  margin-top: 40px;
  /* border: 2px solid #2b2da6; */
  transform: scale(1.2);
}

.my-img {
  /* border-radius: 50%; */
  z-index: 5;
  min-width: clamp(100px, calc(70px + 24vw), 400px);
  min-height: clamp(100px, calc(70px + 24vw), 400px);
  margin: calc(10px + 4vw);
  background: linear-gradient(180deg, #ffffff, #eaeaea);
  background: transparent;
  /* border: 2px solid #2b2da6; */
}

.my-img div {
  width: clamp(100px, calc(100px + 18vw), 380px);
  height: clamp(100px, calc(100px + 18vw), 380px);
  /* padding: 20px; */
  border-radius: 50%;
  background: url("./public/WhatsApp_Image_2025-05-01_at_19.55.20_a2fbe65a-removebg-preview.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: clamp(100px, calc(100px + 25vw), 400px);
  border: 2px solid rgb(28, 212, 236);
  transform: scale(1.15);
  /* animation: scaleFac 1s ease-in-out 1s infinite; */
}

@keyframes scaleFac {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.dsr {
  position: absolute;
}

@media (max-width: 1200px) {
  .p {
    height: auto;
  }

  .name {
    font-size: clamp(24px, 8vw, 4.4rem);
  }
  .m {
    flex-direction: column-reverse;
    min-height: none;
  }

  .photo {
    width: calc(min(100px, 81vw));
    height: calc(min(100px, 81vw));
    margin: auto;
    margin-top: 30px;
  }

  .introduction {
    font-size: var(--vr-fp);
    z-index: 7;
  }

  .h2-type {
    font-size: clamp(9px, calc(4px + 3.42vw), 1.4rem);
    font-weight: 700;
  }

  .dsr {
    flex-direction: column;
  }

  .code-about {
    /* border: var(--bdr);s */
    min-width: 0px;
    display: flex;
    flex-direction: column;
    margin: 30px calc(4% - 7px) 20px 4%;
    font-size: clamp(2px, 3vw, 1rem);

    /* height: fit-content; */
  }
  .introduction {
    text-align: center;
    margin-top: 40px;
    padding: 0 20px;
  }
  .introduction span {
    font-size: 1.2rem;
  }
  .introduction .name {
    display: block;
    font-size: 3rem;
    margin: 10px 0;
    font-weight: bold;
    color: var(--primary-color);
  }
  .introduction hr {
    width: 50%;
    margin: 20px auto;
    border: 1px solid var(--primary-color);
  }
  .introduction .h2-type {
    font-size: 1.5rem;
    color: var(--accent-color);
  }
  .introduction p {
    margin: 10px auto;
    max-width: 800px;
  }
}
