:root {
  --skl-padding: 10px;
  --skl-gap: 10px;
  --skl-border-radius: 50%;
  --skl-font-weight: 700;
  --skl-font-color: aliceblue;
  --skl-bg-color: repeating-radial-gradient(
    rgba(197, 115, 255, 0.817),
    #cd97ffc0
  );
  --skl-box-shadow: 0 0 80px rgb(137, 0, 249);
  --skl-border-color: rgb(191, 178, 178);
  --skl-text-shadow: 2px 2px 14px #dfd2d2;
  --skl-title-color: rgb(82, 8, 109);
  --skl-desc-color: rgb(56, 57, 58);
  --skl-info-border: 2px solid rgb(236, 39, 233);
}

.ftr {
  background: transparent;
  background: linear-gradient(0deg, #fcfcfc, #f3f3f3);
}

.skills {
  position: relative;
  overflow: hidden;
  z-index: 10;
  display: flex;
  padding: var(--skl-padding);
  gap: var(--skl-gap);
}

.skill {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: var(--skl-font-weight);
  color: var(--skl-font-color);
  justify-self: center;
  transition-duration: 500ms;
  z-index: 1;
}

.skill:hover {
  transform: scale(1.2);
}

.wheelCr {
  padding: var(--skl-padding);
  display: grid;
  gap: 40px;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  flex-grow: 1;
  z-index: 5;
}

.skilicon {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.upskill {
  padding: var(--skl-padding);
  position: relative;
  z-index: 5;
  font-size: 1.4rem;
  font-weight: var(--skl-font-weight);
  color: rgb(21, 2, 27);
  text-align: center;
  text-shadow: var(--skl-text-shadow);
}

.verticleLine {
  border: var(--skl-border-color);
  position: absolute;
  left: 50px;
  border-top: none;
  border-bottom: none;
  z-index: 0;
}

.shape {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: var(--skl-border-radius);
  background: var(--skl-bg-color);
  z-index: -1;
  /* box-shadow: var(--skl-box-shadow); */
}

.dev-img {
  display: flex;
  justify-content: center;
}

.skill-imgs {
  /* border: 2px solid red; */
  padding: 30px 4px;
  background: linear-gradient(0deg, #e8e7e7, #f8f6f6);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 40px;
  margin-top: 40px;
}

.dev-img img {
  width: 100%;
  max-width: 500px;
  /* border: 2px solid red; */
}

.infoSkilss {
  /* border-right: var(--skl-info-border); */
  width: 50%;
  z-index: 10;
  z-index: 2;
}

.h2div,
.nmProject {
  font-size: 1.5rem;
  font-weight: var(--skl-font-weight);
  color: var(--skl-title-color);
  text-align: center;
  text-shadow: 1px 1px 4px;
  padding: var(--skl-padding);
}

.skillDiscription,
.paragraph {
  padding: var(--skl-padding);
  color: var(--skl-desc-color);
  text-align: justify;
  /* border: 1px solid red; */
  background: linear-gradient(0deg, #080808, #060606);
  color: transparent;
  background-clip: text;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  /* border: 1px solid rgba(31, 31, 31, 0.041); */
}

.h2div {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
  .skills {
    flex-direction: column;
  }

  .skill-imgs {
    margin-top: 10%;
  }

  .infoSkilss {
    border-right: none;
    width: 100%;
  }

  .sklvl {
    text-align: start;
  }
}

.divSvg {
  width: 100px;
  display: flex;
  justify-content: center;
}

iframe,
svg {
  height: 60px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.skill span {
  color: rgb(72, 72, 72);
}

.wheelCr {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columns */
}

@media (max-width: 500px) {
  .wheelCr {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (max-width: 250px) {
  .wheelCr {
    grid-template-columns: 1fr; /* 2 columns */
  }
}

/* * {
  color: #747476;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

.div-pr {
  font-family: "Segoe UI", sans-serif;
  /* background-color: #e9e7e7; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(10px, calc(10px + 5vw), 80px);
  align-items: center;
  /* margin: 20px; */
  /* border: 2px solid red; */
  padding: 20px 0px;
  max-width: 900px;
}

.button-div {
  /* border: 1px solid red; */
  /* background: linear-gradient(0deg, #ffffff, #f1f1f1); */
  border-radius: 10%;
  position: relative;
  padding: 20px;
}

.button-div svg {
  width: 100%;
  height: 100%;
  border: 20px;
  /* border-radius: 50%; */
  transition: all 0.3s ease;
  padding: 20%;
  /* border: 1px solid red; */
}

.upload-btn {
  background: linear-gradient(0deg, #dddddd, #ffffff);
  border: 1px solid rgba(31, 31, 31, 0.041);
  height: calc(120px - 2vw);
  width: calc(120px - 2vw);
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);

  transition: all 0.3s ease;
  transform: scale(1.05); /* Default position */
  border-radius: 10px;
  overflow: hidden;
}

.button-div span {
  font-size: 18px;
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: scale(1.05); /* Default position */
  transition: all 0.3s ease;
  font-weight: 500;
  /* top: calc(50% - 11px); */
}

.button-div:hover .upload-btn {
  transform: scale(1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.button-div:hover svg {
  transform: rotateZ(10deg) scale(0.9);
}

.button-div:hover span {
  transform: scale(1);
  font-weight: 500;
}

.upload-btn:active {
  box-shadow: none;
}

#fileInput {
  display: none;
}
