:root {
  --ach-padding: 3%;
  --ach-gap: 10%;
  --ach-border-radius: 10px;
  --ach-aspect-ratio: 22/15;
  --ach-bg-color: rgb(253, 247, 255);
  --ach-box-shadow: 0 0 5px rgba(28, 47, 53, 0.836);
  --ach-width-max: 600px;
  --ach-width-min: 40vw;
  --ach-width-clamp: calc(min(var(--ach-width-max), var(--ach-width-min)));
  --ach-position-left: clamp(30px, 20vw, 600px);
  --ach-position-right: clamp(30px, 20vw, 600px);
}

.main {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  /* border: 2px solid; */
  border-radius: 10px;
}

.parent {
  position: relative;
  overflow: hidden;
  /* border: 2px solid rgb(255, 0, 0); */
  height: clamp(200px, calc(120px + 40vw), 500px);
  background: linear-gradient(0deg, #f5f5f5, #fdfdfdfd);
  border-radius: 10px;
  padding: 2vw;
  box-shadow: 2px 10px 20px rgba(115, 115, 115, 0.253);
}

.slanted-box {
  width: 700px;
  height: clamp(200px, calc(120px + 40vw), 500px);
  position: absolute;
  box-shadow: 0px 0px 10px 15px rgba(20, 19, 19, 0.326);
  transition: transform 1s ease, clip-path 1s ease;
  z-index: 4;
  /* border: 2px solid rgb(255, 0, 0); */
}

.leftdoor {
  background: linear-gradient(180deg, #e6e6e6, #ffffff);
  left: -350px;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
}

.rightdoor {
  background: linear-gradient(90deg, #ffffff, #e7e7e7);
  right: -350px;
  clip-path: polygon(0% 0%, 50% 0, 50% 100%, 0% 100%);
}

/* */

.box-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid rgb(255, 0, 0); */
  /* box-shadow: 0 10px 20px rgba(115, 115, 115, 0.384); */
  border-radius: 10px;
  flex-grow: 1;
  background: linear-gradient(0deg, #ffffff, #f5f5f5);
}

.first {
  /* position: relative; */
  width: calc(100% - 4vw);
  height: calc(100% - 5vw);
  overflow: hidden;
  background-color: transparent;
  /* border: 2px solid red; */
  border-radius: 10px;
  transform: scale(0);
}

.count_dot {
  /* border: 2px solid red; */
  color: rgb(33, 33, 33);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  /* position: absolute; */
  padding: 14px;
  height: 50px;
}

.box {
  height: 100%;
  /* border: 2px solid red; */
  transition: all 1s ease-in-out;
  position: absolute;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateX(100%);
  background: transparent;
  transition: transform 0.4s ease;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 100px;
  /* border: 2px solid red; */
  padding: 10px;
  margin-top: 20px;
}

.controls button {
  /* all: initial; */
  /* border: 1px solid red; */
  border-radius: 50%;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 50px;
  padding: 7px;
  font-size: 1.5rem;
  color: rgb(30, 31, 31);
  background: linear-gradient(0deg, #ffffff, #cacaca);
  border: none;
  box-shadow: 0 2px 5px;
  /* transform: scale(1.05); */
  transition: 0.2s ease-in-out;
}

.controls button svg {
  /* border: 1px solid; */
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #cacaca, #ffffff);
  transition: 0.3s;
  color: #333;
}

.controls button:hover {
  box-shadow: 0 0 2px;
  transform: scale(1);
  background: linear-gradient(0deg, #cacaca, #ffffff);
}

.controls button:hover svg {
  background: linear-gradient(0deg, #ffffff, #cacaca);
  color: #000;
}

.Cirtificate {
  transition: transform 0.3s;
  border: 1px solid rgba(31, 31, 31, 0.041);
  box-shadow: 0 0 10px 2px #a8a8a8;
  transition: all 0.3s ease;
  /* transform: scale(1.05); */
  border-radius: 10px;
  height: 100%;
}

.Cirtificate:hover {
  box-shadow: 0 0 4px #a8a8a8;
  transform: scale(1); /* Default position */
}

.bg-2 {
  background: linear-gradient(to bottom, #f2f1f4, #f1ecf3);
}

/* @media screen and (min-width: 700px) and (max-width: 1024px) {
  .Cirtificate {
    margin: 4% 0;
  }
}
*/

@media screen and (max-width: 700px) {
  .cf-2 {
    flex-direction: column !important;
  }
}
